/MybatisGenerator.zip
/codehelper.generator.log
# Created by .ignore support plugin (hsz.mobi)

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/MybatisGenerator.iml
/MybatisGenerator.ipr
/MybatisGenerator.iws
out*

*EnterLicenseAction.java
*ShowPremiumAction.java
*RegisterCheckService.java
*RegisterRawResponseHelper.java
*RegisterRawRequest.java
*RegisterRawResponse.java
*RegisterRawRequestHelper.java
*RegisterService.java
MybatisGenerator.iml
MybatisGenerator.ipr
MybatisGenerator.iws
